
# Dependencies and packages
/vendor/
node_modules/
npm-debug.log
package-lock.json
vendor/
yarn-error.log

# Build and compiled files
*.cache
*.lock
*.phar
.php-cs-fixer.cache
.phpunit.result.cache
/build
build/

# Laravel specific
.env
app/storage/
bootstrap/compiled.php
public/hot
public/storage
public_html/hot
public_html/storage

# Local configurations
/.vagrant
Homestead.json
Homestead.yaml

# Git specific
.git-blame-ignore-revs
.git-rewrite
.git-rewrite/

# Temporary and system files
*:Zone.Identifier

# Backup files
*.backup
*.backup.*
*.bak
*.old
*.old1

# Documentation and cache
cache/
docs/cache/
docs/phpstan/

# Other
/vendor
storage/*.key
node_modules
node_modules
vendor
node_modules
